name: CI

on:
  pull_request: { }
  push:
    branches: main

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get update && sudo apt-get install libudev-dev
      - run: cargo check --all-features

  build:
    strategy:
      matrix:
        toolchain:
          - stable
          - 1.85.0 # MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: sudo apt-get update && sudo apt-get install libudev-dev
      - run: cargo build --no-default-features --features softsign --release
      - run: cargo build --features=yubihsm --release
      - run: cargo build --features=yubihsm-server --release
      - run: cargo build --features=ledger --release
      - run: cargo build --features=yubihsm-server,ledger,softsign --release

  test:
    strategy:
      matrix:
        toolchain:
          - stable
          - 1.85.0 # MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: sudo apt-get update && sudo apt-get install libudev-dev
      - run: cargo test --all-features -- --test-threads 1

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.89 # pinned to prevent breakages when clippy updates
      - run: sudo apt-get update && sudo apt-get install libudev-dev
      - run: rustup component add clippy
      - run: cargo clippy --all-features
