name: Security Audit
on:
  pull_request:
    paths:
      - .github/workflows/security_audit.yml
      - '**/Cargo.lock'
  push:
    branches: master
    paths: '**/Cargo.lock'
  schedule:
    - cron: "0 0 * * *"

jobs:
  security_audit:
    name: Security Audit Workspace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
